mat-toolbar {
    position:relative;
    height: 50px;
    z-index: 2;
    background: rgb(223, 236, 251);
}

.logo{
    width: 30px;
    height: 30px;
    // margin: auto;
}

.header{
    font-size: large;
    margin: auto;
    display: flex;
    align-items: center; /* Aligns the image and text vertically centered */
    gap: 10px; /* Adds space between the image and text */
}