<div class="bg-cc-base flex flex-grow py-10">
    <div class="max-w-[1145px] flex items-start w-full mx-auto">
      <div class="sm:flex flex-col min-w-[288px] max-w-[288px] w-full text-sm px-4 sticky top-10">
        <a routerLink = "/boards" class="py-2 px-3 hover:bg-gray-200 font-semibold rounded-md flex items-center gap-3 duration-200"  routerLinkActive="bg-blue-100 text-blue-700">
          <div class="flex gap-2 items-center" routerLinkActive="">
            <span routerLinkActive="">Boards</span>
          </div>
        </a>

        <div class="mt-1 flex flex-col gap-2 border-t pt-5">
          <p class="text-xs text-gray-600 font-semibold pb-2">Workspaces</p>
          @for (workspace of workspaces; track workspace) {
          <a routerLink = "/workspaces" class="flex hover:bg-gray-200 rounded-md gap-2 items-center p-2 font-semibold duration-200">
            <!-- <app-workspace-icon [workspace]="workspace" sizeClasses="size-6 text-sm rounded"></app-workspace-icon> -->
            <span>ICON</span>
            <span routerLinkActive="">{{workspace.title}}</span>
          </a>
        }
          <button (click)= "showCreateWorkspaceModal()" class="flex items-center duration-200 rounded-md gap-2 py-2 px-3 hover:bg-gray-200">                          
            <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512" fill="currentColor">
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
            </svg>
            Create a Workspace
          </button>
        </div>

      </div>
        <router-outlet></router-outlet>
    </div>
</div>