<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidebarWidth()">
        <mat-nav-list>
            <mat-list role="list">
                <mat-list-item matListItemTitle role="listitem">
                <mat-icon matListItemIcon>dashboard</mat-icon>    
                    Boards
                </mat-list-item>
              </mat-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
    </mat-sidenav-content>
</mat-sidenav-container>