.content{
    padding: 24px;
    padding-top: 50px;
}

mat-nav-list{
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
}

mat-sidenav-container{
    height: 100vh
}

mat-sidenav{
    // width: 200px;
    background: rgb(223, 236, 251);
}