<!-- <app-sidebar></app-sidebar> -->

<div class="flex space-x-4 p-6">

  <div class="w-1/2 bg-gray-100 rounded-lg p-4 shadow-md">
    <h2 class="font-semibold text-xl mb-4">To Do</h2>
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)" class="space-y-2">
      @for (item of todo; track item) {
        <div class="bg-white p-4 rounded-md shadow-md cursor-pointer hover:bg-gray-50" cdkDrag>{{ item }}</div>
      }
    </div>
  </div>

  <div class="w-1/2 bg-gray-100 rounded-lg p-4 shadow-md">
    <h2 class="font-semibold text-xl mb-4">Done</h2>
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)" class="space-y-2">
      @for (item of done; track item) {
        <div class="bg-white p-4 rounded-md shadow-md cursor-pointer hover:bg-gray-50" cdkDrag>{{ item }}</div>
      }
    </div>
  </div>
</div>


  
  
